In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [6]:
import csv
with open('books.csv', 'r') as file:
    books = csv.DictReader(file)
    for book in books:
        print(book)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [7]:
with open('books2.csv', 'w', newline='') as file:
    file.write('title,author,year\n')
    file.write('The Weirdstone of Brisingamen,Alan Garner,1960\n')
    file.write('Perdido Street Station,China Miéville,2000\n')
    file.write('Thud!,Terry Pratchett,2005\n')
    file.write('The Spellman Files,Lisa Lutz,2007\n')
    file.write('Small Gods,Terry Pratchett,1992\n')

In [16]:
import sqlite3
conn = sqlite3.connect('books1.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE books (
    title TEXT,
    author TEXT,
    year INTEGER
)''')
with open('books2.csv', 'r') as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)',
                       (book['title'], book['author'], int(book['year'])))
conn.commit()

cursor.execute('SELECT title FROM books ORDER BY title ASC')
for row in cursor.fetchall():
    print(row[0])


conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [19]:
conn = sqlite3.connect('books1.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM books ORDER BY year ASC')
for row in cursor.fetchall():
    print(row)
    
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [22]:
from sqlalchemy import create_engine, select, MetaData, Table
engine = create_engine('sqlite:///books1.db')
connection = engine.connect()
metadata = MetaData()
books_table = Table('books', metadata, autoload_with=engine)

query = select(books_table.c.title).order_by(books_table.c.title.asc())
result = connection.execute(query)
for row in result:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!